/* Index */

body {
  margin: 0;
  padding: 0;
  background: #FFF;
}
h1, h2 {
  margin: 0;
  padding: 0;
}

/* Content */

.main-container {
  position: relative;
  display: table;
  width: 100%;
}
.main-container .center-container {
  max-width: 1620px;
  min-width: 1620px;
  margin: 0 auto;
}
.main-container .center-container .heading {
  margin: 10px 10px 30px 10px;
  display: inline-block;
  position: relative;
}
.main-container .center-container .heading .left {
  display: inline-block;
  margin-left: 25px;
}
.main-container .center-container .heading .left .top {
  display: inline-block;
  border-bottom: 8px solid #e95b0f;
}
.main-container .center-container .heading .left .top img {
  width: 350px;
  margin-right: 10px;
}
.main-container .center-container .heading .left .top .text1 {
  font: bold 40px "Mitr";
}
.main-container .center-container .heading .left .top .text2 {
  font: bold 80px/80px "Mitr";
}
.main-container .center-container .heading .left .bottom  {
  display: block;
  margin-top: 10px;
}
.main-container .center-container .heading .left .bottom .text3 {
  font: bold 15px "Mitr";
  width: 340px;
  margin-right: 10px;
  display: inline-block;
}
.main-container .center-container .heading .left .bottom .text3 .orange {
  color: #e95b0f;
}
.main-container .center-container .heading .left .bottom .phone {
  font: bold 43px/42px "Kanit";
}
.main-container .center-container .heading .right {
  display: inline-block;
  text-align: center;
  background: #e95b0f;
  padding: 22px;
  vertical-align: top;
  margin-left: 10px;
}
.main-container .center-container .heading .right .real-time {
  color: #FFF;
  font: bold 96px/96px "Kanit";
}
.main-container .center-container .heading .right .text4 {
  color: #FFF;
  font: normal 14px/14px "Mitr";
}
.main-container .center-container .main-content {
  margin: 10px 10px 50px 10px;
  position: relative;
}
.main-container .center-container .main-content .list-title {
  margin-left: 380px;
}
.main-container .center-container .main-content .list-title .text-title {
  font: normal 35px/35px "Mitr";
  margin-left: 60px;
  color: #e95b0f;
  text-decoration: underline;
}
.main-container .center-container .main-content .list-wrap {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.main-container .center-container .main-content .list-wrap img {
  display: inline-block;
  width: 190px;
  margin: 10px 20px 0 0;
}
.main-container .center-container .main-content .list-wrap .wrap {
  display: inline-block;
  margin: 40px 40px 40px 0px;
  vertical-align: top;
}
.main-container .center-container .main-content .list-wrap .wrap .coupon-number {
  display: inline-block;
  font: normal 40px/40px "Mitr";
  vertical-align: middle;
  position: relative;
  width: 160px;
}
.main-container .center-container .main-content .list-wrap .wrap .coupon-number .x-mark {
 position: absolute;
 left: 16px;
 top: 4px;
 width: 100px;
 display: none;
 margin: 0;
}
.main-container .center-container .main-content .list-wrap .wrap .coupon-number .x-mark.active {
  display: inline-block;
}
.main-container .center-container .main-content .list-wrap .wrap .coupon-timer {
  display: inline-block;
  font: normal 40px/40px "Mitr";
  background: #e95b0f;
  color: #FFF;
  vertical-align: middle;
  padding: 10px;
  margin-left: 15px;
  width: 100px;
}
.main-container .center-container .main-content .list-wrap .wrap .check-mark {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  width: 55px;
  height: 55px;
}
.main-container .center-container .main-content .list-wrap .wrap .check-mark.active {
  background: url(../img/check-mark.png) no-repeat;
}
.main-container .center-container .main-content .list-wrap .status {
  font: normal 40px/40px "Mitr";
  vertical-align: top;
  padding: 29px 0;
  display: inline-block;
  width: 205px;
}
